@media all and (max-width: 992px) {
    /* --------------------------- */
    /*      Section Recherche      */
    /* --------------------------- */

    .filter-bar {
        justify-content: space-between;
    }

    .button-selection{
        margin-top: 10px;
        justify-content: space-between;
        width: 100%;
    }

    .filter-button {
        margin: 0px;
    }
    .central {
        display: block;
    }

    .accommodation {
        width: auto;
    }

    .most-popular {
        width: auto;
        height: auto;
        padding-bottom: 20px;
        margin-top: 53px;
        margin-left: 0px;
    }

    .most-popular-icon {
        justify-content: space-between;
    }

    .container2 {
        flex-wrap: wrap;
        margin: 0px;
        justify-content: space-around;
    }

    .item2 {
        width: 252px;
        height: 144px;
    }

    .item2 p {
        font-size: 13px;
    }

    .item2 img {
        width: 106px;
        height: 134px;
    }

    h4 {
        font-size: 14px;

    }

    .item2-content-star {
        left: 130px;
    }

    .item-activity {
        width: 182px;
        height: 267px;
    }

    .item-activity img {
        width: 182px;
        height: 211px;
    }

    #show-more {
        margin-top: 40px;
        padding-bottom: 46px;
    }

    .title-accommodation {
        padding-top: 42px;
    }

    .footer {
        width: auto;
    }
    .in-regards-to, .our-accommodations {
        width: 283px;
    }

    .assistance {
        width: 200px;
    }
}

@media all and (max-width: 768px) {
    /* ------------------------- */
    /*     Paramètre général     */
    /* ------------------------- */
    body {
        max-width: auto;
        width: auto;
        margin: auto;
        padding: 0px 0px;
    }

    h2 {
        margin-right: 57px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        margin-left: 20px;
        margin-right: 22px;
        margin: 0px;
    }

    .central {
        display: flex;
        flex-direction: column-reverse;
    }
    /* ---------------- */
    /*      Header      */
    /* ---------------- */

    .header {
        flex-direction: column;
        margin: auto;
        justify-content: center;
        padding-bottom: 30px;
    }

    .logo-box {
        width: 100%;
    }

    .logo {
        display: block;
        margin: auto;
    }

    .menu {
        width: auto;
        padding: 0px;
        column-gap: 0px;
        justify-content: space-around;
    }

    .nav-box {
        width: 100%;
        display: block;
        border-bottom: 3px solid;
        border-color: #F2F2F2;
    }

    .menu-button {
        width: 50%;
        padding-bottom: 23px;
    }

    .menu-button:hover {
        border-top: none;
        border-bottom: 3px solid;
        border-color: #0065FC;
    }

    .menu-button a:hover {
        border-top: none;
        color: #0065FC;
        font-weight: 500;
    }

    /* --------------------------- */
    /*      Section recherche      */
    /* --------------------------- */
    .research-bar {
        width: 332px;
        justify-content: center;
    }

    .search-button {
        display: none;
    }

    .magnifier {
        display: block;
    }

    .title-search {
        width: auto;
    }

    .title-search {
        margin-left: 20px;
    }

    .filter-bar {
        flex-direction: column;
        align-items: baseline;
    }

    .button-selection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter-button {
        width: 150px;
        height: 50px;
        margin: 10px;
        font-size: 11px;
        padding: 0px 0px 0px 15px;
    }

    /* ----------------------------- */
    /*      Section hébergement      */
    /* ----------------------------- */
    .accommodation {
        width: auto;
        border-radius: 0px;
        background-color: white;
    }

    .title-accommodation {
        padding: 0px;
        margin: 26px 0px 0px 20px;
    }

    .container {
        margin: 0px;
    }

    .item {
        width: 335px;
        height: 199px;
    }

    .item img {
        width: 325px;
        height: 115px;
    }

    .item-content h4 {
        margin-top: 0px;
    }

    /* ------------------------------------ */
    /*      Section les plus populaire      */
    /* ------------------------------------ */
    .most-popular {
        width: auto;
        height: auto;
        border-radius: 0px;
        margin: 0px;
        padding-bottom: 47px;
    }

    .title-most-popular {
        margin: 20px 0px 20px 25px
    }

    .fa-chart-line {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-top: 25px;
    }

    .container2 {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .item2 {
        width: 334px;
        height: 144px;
    }

    .item2 img {
        width: 137px;
    }

    .item2-content-star {
        left: 160px;
    }

    .item2 p {
        font-size: 14px;
    }

    #show-more {
        display: none;
    }

    /* -------------------------------------- */
    /*     Section activitée à Marseille      */
    /* -------------------------------------- */

    .activities {
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .title-activities {
        margin: 0px 0px 0px 20px;
    }

    .item-activity {
        width: 334px;
        height: 190px;
    }

    .item-activity img {
        width: 334px;
        height: 134px;
    }

    /* ------------------------ */
    /*      Section footer      */
    /* ------------------------ */
    .footer {
        flex-direction: column;
        gap: 40px;
        height: auto;
        padding: 30px;
    }

    .in-regards-to {
        width: auto;
    }

    .our-accommodations {
        width: auto;
    }

    .assistance {
        margin: 0px;
        width: auto;
    }
}