@media all and (min-width: 768px) and (max-width: 992px) {
    /* -------------- */
    /* Section Search */
    /* -------------- */
    .filter-bar {
        justify-content: space-between;
    }

    .research {
        width: 100%;
    }
    .button-selection {
        width: 100%;
        margin-top: 15px;
    }
    /* --------------- */
    /* Section Central */
    /* --------------- */
    .central {
        flex-direction: column;
        width: 100%;
    }

    .accommodation {
        width: auto;
    }

    .most-popular {
        width: auto;
        margin: 20px 0px;
    }

    /* -------------------- */
    /* Section Most Popular */
    /* -------------------- */
    .item2-box {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    /* ----------------- */
    /* Section Activitée */
    /* ----------------- */
    .item-activity {
        max-height: 267px;
    }

    .item-activity img {
        height: 80%;

    }
}