* {
    margin: 0px 0px;
    text-decoration: none; /* retrait du soulignage dans les lien hyper texte */
    font-family: 'Raleway';
    font-style: normal; /* Police d'écriture de la page */
    color: black;
}


body {
    max-width: 1400px;
    margin: auto;

}

section {
    width: 100%;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}


.title2-h2-pos {
    margin-left: 37px;
    margin-top: 41px;
    margin-bottom: 26px;
}

#show-more {
    margin-left: 44px;
    margin-top: 40px;

}





/* -----section header ----- */
header {
    width: 100%;
    height: 126px;
}

.logo {
    /* dimension du logo */
    width: 61.09px;
    height: 19px;
    /* position du logo */
    padding-top: 44px;

    float: left; 
}

.menu { 
    /* positionnement du menu */
    display: flex;
    margin: 0px;
    width: 381px;
    height: 100%;
    float: right;
    
    /* paramètre du menu */
    list-style: none;
    justify-content: flex-end;
    column-gap: 67px; /* espacement entre deux boutons */
}

.button {
    /*décallage du bouton par rapport au top */
    padding-top: 46px; 

    /*parametrage du texte*/
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;

    /* mise en place de la ligne bleu. sans ça, l'apparition de la ligne bleu décalle les bouton */
    border-top: 2px solid; 
    border-color: transparent;
}

.button:hover { 
    /* remplacement de la barre transparente par la barre bleu */
    border-top: 2px solid;
    border-color: #0065FC;  
}

.button a:hover {
    /* changement de couleur du texte en bleu */
    color: #0065FC;   
    font-weight: 500;
}

.research-bar {
    width: 450px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.research {
    height: 49px;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 18px;
    padding-left: 20px;
}

.research:focus {
    outline: none;
}

.search-button {
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer ;
}

.filter-bar {
    justify-content: space-between;
    width: 976px;
    align-items: center;
    margin-top: 20px;
}

.filter-button {
    display: flex;
    align-items: center;
    border: #d9d9d9 solid 1px;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
}

.filter-button:hover {
    background: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
/* ----- section hébergement ----- */

.title-hebergment {
    margin-left: 40px;
    margin-top: 42px;
    margin-bottom: 23px;
}

.central {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.hebergment {
    width: 880px;
    height: 626px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.container {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    margin-left: 37px;
    margin-right: 37px;
    justify-content: space-between;
    row-gap: 33px;
    flex-wrap: wrap;
}

.most-popular {
    width: 420px;
    height: 625px;
    background-color: #f2f2f2;
    border-radius: 20px;
}


.item {
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 15px
}

.item:hover, .item2:hover, .card-activity:hover {
    box-shadow: 8px 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.item img {
    width: 235px;
    height: 110px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.item2 {
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.item2 img {
    float: left;
    width: 137px;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    padding-right: 16px;
}

.slide-content {
    margin-left: 16px;
    margin-right: 16px;
}

.slide-content h4 {
    margin-top: 4px;
    margin-bottom: 9px;
}

.slide-content p, .slide2-content p {
    font-size: 14px;
}

.item2 h4 {
    margin-bottom: 7px;
}

.slide2-content {
    height: 100%;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-right: 12px;
}

.slide-content-star {
    position: absolute;
    bottom: 5px;
}

.slide2-content-star {
    position: absolute;
    bottom: 10px;
    left: 164px;
}


/* ----- Section activitées Marseille----- */
.activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 18.47px;
}

.card-activity {
    /* dimension de la card */
    width: 302px;
    height: 444.51px;

    /* border + ombre */
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 8px 4px 8px 0 rgba(0,0,0,0.2);

}

.card-text {
    /* position du texte dans la card */
    padding-top: 12px;
    padding-left: 16px;
}

.card-activity img {
    /* dimension de l'image dans la card */
    width: 302px;
    height: 389px;

    /* intégration de l'image dans la card */
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}






/* ----- Section Footer----- */
.footer {
    display: flex;
    padding-top: 45px;
    background-color: #f2f2f2;
    height: 205px;
    margin-top: 61px;
}

.a-propos {
    margin-left: 70px;
}

.nos-hebergements {
    margin-left: 230px;
}

.assistance {
    margin-left: 239px;
}

.section-footer {
    list-style: none;
    font-size: 16px;
}

.section-footer li {
    margin-bottom: 12px;
}





/* ----- Icone ----- */
.fa-star {
    color: #f2f2f2;
}

.fa-star-active {
    color: #0065FC;
}

.fa-chart-line {
    margin-left: 118px;
    margin-top: 46px;
    color: #0065FC;
}

.dflex {
    display: flex;
}

.icon-location {
    background-color: #f2f2f2;
    padding-left: 18px;
    padding-top: 16px;
    padding-right: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.icon-info {
    width: 24px;
    height: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: #0065FC;
    margin-right: 10px;
}

.fa-info {
    color: #0065FC;
    margin-left: 10px;
    margin-top: 3px;
}

