* {
    max-width: 1400px;
    font-family: "Raleway";
    margin: 0;
  }
header {
    position: absolute;
    width: 100%;
    top : 0px;
    left: 0px;
    display: flex;
    
}

.logo {
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 55px;
    top: 44px;
}


.navList{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    justify-content: center;
}

nav {
    position: absolute;
    width: 381px;
    height: 19px;
    right: 77px;
}


.navList li {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    list-style: none;
    padding-left: 67px;
    padding-top: 46px;
    border-top: 2px solid;
    border-color: transparent;
}

.navList li:hover :focus{
    border-color: #0065FC;
    color:#0065FC;
}

